<div class="d-flex" *ngIf="showManualResult == false">
  <div class="col-4"></div>
  <div class="col-4 text-center">

    <div *ngFor="let item of drawTimes; let i = index">
      <button class="m-3" style="border: 2px solid black; padding-top: 30px; padding-bottom: 30px; padding-left: 100px; padding-right: 100px" (click)="getManualResult(item.id)" mat-button>
        {{item.visible_time}}</button>
    </div>

  </div>
  <div class="col-4"></div>
</div>
<div *ngIf="showManualResult == true" (click)="goToHome()">
  <button  class="ml-5" mat-fab color="warn" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
</div>


<div  *ngIf="showManualResult == true" class="container text-center p-1" style="width: 50%; border: 2px solid black;">
  <div style="font-size: 75%"><b><i>BHUTAN STATE LOTTERY</i></b></div>
  <div class="d-flex mt-3">
    <div class="col-4" style="font-size: 200%; font-weight: bold">{{manualResult[0].game_date}}</div>
    <div class="col-4" style="font-size: 60px; color: darkblue; font-weight: bold"><i>NODI</i></div>
    <div class="col-4" style="font-size: 200%;; font-weight: bold">{{manualResult[0].game_date}}</div>
  </div>

  <div class="d-flex mt-3">
    <div class="col-3" style="font-size: 15px; font-weight: bold">{{manualResult[0].draw_master.visible_time}}</div>
    <div class="col-6" style="font-size: 20px; font-weight: bold"><i>MOTI WEEKLY MORNING</i></div>
    <div class="col-3" style="font-size: 15px; font-weight: bold">{{manualResult[0].draw_master.visible_time}}</div>
  </div>

  <div class="text-center p-3"><i>60st Draw at 01/02/2023 MRP 6/-</i></div>

  <div class="d-flex mb-2">
<!--    <div class="col-4" style="font-size: 35px; font-weight: bolder; color: blue"><i>1st Prize</i></div>-->
    <div class="col-4" style="font-size: 35px; font-weight: bolder; color: blue"><i>{{rank[0].rank_name}}</i></div>
<!--    <div class="col-4" style="font-size: 40px; font-weight: bolder;  color: red">5 LAKHS/-</div>-->
    <div class="col-4" style="font-size: 40px; font-weight: bolder;  color: red">{{rank[0].prize}}/-</div>
    <div class="col-4" style="font-size: 35px; font-weight: bolder;  color: blue"><i>97A 23065</i></div>
  </div>

  <div class="text-center p-1" style="font-size: 17px; font-weight: bold"><i>Cons.Prize:1000/- 23040 (REMAINING ALL SERIALS)</i></div>

  <div class="text-center p-1" style="font-size: 35px; font-weight: bold"><i>{{rank[1].rank_name}}:{{rank[1].prize}}/-</i></div>
<!--  <pre>{{manualResult[0].rank_id | json}}</pre>-->
<!--  <div class="d-flex text-center">-->
<!--    <div class="col-1" style="font-size: 15px;"></div>-->
<!--    <div class="col-1" *ngFor="let x of manualResult"  style="font-size: 17px; font-weight: bolder !important;  padding-right: 10%;"><div *ngIf="x.rank_id == 2"><i>{{x.value}}</i></div></div>-->
<!--  </div>-->

  <div class=" fluid-container d-flex flex-col " style="padding-left: 2.3%" *ngFor="let item of secondPrizeResult.slice(0,secondPrizeResult.length % 9 == 0? secondPrizeResult.length/9 : ((secondPrizeResult.length/9) + 1)) ; let idx = index">
    <div style=" text-align: center; font-weight: bolder !important;" *ngFor="let item of secondPrizeResult.slice(idx*9, idx*9 + 9)">
      <div class="col" style="width: 5vw"><div ><i>{{item.value}}</i></div></div>
    </div>
  </div>

  <div class="text-center p-2" style="font-size: 35px; font-weight: bold"><i>{{rank[2].rank_name}}:{{rank[2].prize}}/-</i></div>

<!--  <div class="d-flex text-center">-->
<!--    <div class="col-1" style="font-size: 15px;"></div>-->
<!--    <div class="col-1" *ngFor="let x of manualResult" style="font-size: 17px; font-weight: bold"><div *ngIf="x.rank_id == 3"><i>{{x.value}}</i></div></div>-->
<!--  </div>-->
  <div class=" fluid-container d-flex flex-col " style="padding-left: 2.3%" *ngFor="let item of thirdPrizeResult.slice(0,thirdPrizeResult.length % 9 == 0? thirdPrizeResult.length/9 : ((thirdPrizeResult.length/9) + 1)) ; let idx = index">
    <div style=" text-align: center; font-weight: bolder !important;" *ngFor="let item of thirdPrizeResult.slice(idx*9, idx*9 + 9)">
      <div class="col" style="width: 5vw"><div><i>{{item.value}}</i></div></div>
    </div>
  </div>


  <div class="text-center p-2" style="font-size: 35px; font-weight: bold"><i>{{rank[3].rank_name}}:{{rank[3].prize}}/-</i></div>

<!--  <div class="d-flex text-center">-->
<!--    <div class="col-1" style="font-size: 15px;"></div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold" *ngFor="let x of manualResult"><div *ngIf="x.rank_id == 4"><i>{{x.value}}</i></div></div>-->
<!--  </div>-->
  <div class=" fluid-container d-flex flex-col " style="padding-left: 2.3%" *ngFor="let item of forthPrizeResult.slice(0,forthPrizeResult.length % 9 == 0? forthPrizeResult.length/9 : ((forthPrizeResult.length/9) + 1)) ; let idx = index">
    <div style=" text-align: center; font-weight: bolder !important;" *ngFor="let item of forthPrizeResult.slice(idx*9, idx*9 + 9)">
      <div class="col" style="width: 5vw"><div ><i>{{item.value}}</i></div></div>
    </div>
  </div>

  <div class="text-center p-2" style="font-size: 35px; font-weight: bold"><i>{{rank[4].rank_name}}:{{rank[4].prize}}/-</i></div>

<!--  <div class="d-flex text-center">-->
<!--    <div class="col-1" style="font-size: 15px;"></div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold" *ngFor="let x of manualResult"><div *ngIf="x.rank_id == 5"><i>{{x.value}}</i></div></div>-->
<!--  </div>-->
  <div class=" fluid-container d-flex flex-col " style="padding-left: 2.3%" *ngFor="let item of fifthPrizeResult.slice(0,fifthPrizeResult.length % 9 == 0? fifthPrizeResult.length/9 : ((fifthPrizeResult.length/9) + 1)) ; let idx = index">
    <div style=" text-align: center; font-weight: bolder !important;" *ngFor="let item of fifthPrizeResult.slice(idx*9, idx*9 + 9)">
      <div class="col" style="width: 5vw"><div ><i>{{item.value}}</i></div></div>
    </div>
  </div>

  <div style="background-color: blue; color: yellow; font-size: 20px; font-weight: bold"><i>{{rank[5].rank_name}}:{{rank[5].prize}}/-</i></div>

    <div class=" fluid-container d-flex flex-col " style="padding-left: 2.3%" *ngFor="let item of sixthPrizeResult.slice(0,sixthPrizeResult.length % 9 == 0? sixthPrizeResult.length/9 : ((sixthPrizeResult.length/9) + 1)) ; let idx = index">
      <div style="border: 1px solid black; text-align: center" *ngFor="let item of sixthPrizeResult.slice(idx*9, idx*9 + 9)">
        <div class="col" style="width: 5vw">{{item.value}}</div>
      </div>

    </div>
  <div style="border: 2px solid black;" class="d-flex mt-1">
    <div class="col-2"><b>{{manualResult[0].game_date}}</b></div>
    <div class="col-8">Please check the results with relevent Official Government Gazatte</div>
    <div class="col-2"><b>{{manualResult[0].draw_master.visible_time}}</b></div>
  </div>


</div>


