<div class="d-flex">
  <div class="col-4"></div>
  <div class="col-4 text-center">

    <div *ngFor="let item of drawTimes; let i = index">
      <button class="m-3" style="border: 2px solid black; padding-top: 30px; padding-bottom: 30px; padding-left: 100px; padding-right: 100px" (click)="getManualResult(item.id)" mat-button>
        {{item.visible_time}}</button>
    </div>

  </div>
  <div class="col-4"></div>
</div>

<div class="container text-center p-1" style="width: 50%; border: 2px solid black;">
  <div style="font-size: 75%"><b><i>BHUTAN STATE LOTTERY</i></b></div>

  <div class="d-flex mt-3">
    <div class="col-4" style="font-size: 200%; font-weight: bold">01/02/2023</div>
    <div class="col-4" style="font-size: 60px; color: darkblue; font-weight: bold"><i>NODI</i></div>
    <div class="col-4" style="font-size: 200%;; font-weight: bold">01/02/2023</div>
  </div>

  <div class="d-flex mt-3">
    <div class="col-3" style="font-size: 15px; font-weight: bold">01/02/2023</div>
    <div class="col-6" style="font-size: 20px; font-weight: bold"><i>MOTI WEEKLY MORNING</i></div>
    <div class="col-3" style="font-size: 15px; font-weight: bold">01/02/2023</div>
  </div>

  <div class="text-center p-3"><i>60st Draw at 01/02/2023 MRP 6/-</i></div>

  <div class="d-flex mb-2">
<!--    <div class="col-4" style="font-size: 35px; font-weight: bolder; color: blue"><i>1st Prize</i></div>-->
    <div class="col-4" style="font-size: 35px; font-weight: bolder; color: blue"><i>{{rank[0].rank_name}}</i></div>
<!--    <div class="col-4" style="font-size: 40px; font-weight: bolder;  color: red">5 LAKHS/-</div>-->
    <div class="col-4" style="font-size: 40px; font-weight: bolder;  color: red">{{rank[0].prize}}/-</div>
    <div class="col-4" style="font-size: 35px; font-weight: bolder;  color: blue"><i>97A 23065</i></div>
  </div>

  <div class="text-center p-1" style="font-size: 17px; font-weight: bold"><i>Cons.Prize:1000/- 23040 (REMAINING ALL SERIALS)</i></div>





  <div class="text-center p-1" style="font-size: 35px; font-weight: bold"><i>{{rank[1].rank_name}}:{{rank[1].prize}}/-</i></div>
<!--  <pre>{{manualResult[0].rank_id | json}}</pre>-->
  <div class="d-flex text-center">
    <div class="col-1" style="font-size: 15px;"></div>
    <div class="col-1" *ngFor="let x of manualResult"  style="font-size: 17px; font-weight: bolder !important; "><div *ngIf="x.rank_id == 2"><i>{{x.value}}</i></div></div>
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
  </div>





  <div class="text-center p-2" style="font-size: 35px; font-weight: bold"><i>{{rank[2].rank_name}}:{{rank[2].prize}}/-</i></div>
  <div class="d-flex text-center">
    <div class="col-1" style="font-size: 15px;"></div>
    <div class="col-1" *ngFor="let x of manualResult" style="font-size: 17px; font-weight: bold"><div *ngIf="x.rank_id == 3"><i>{{x.value}}</i></div></div>
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
  </div>




  <div class="text-center p-2" style="font-size: 35px; font-weight: bold"><i>{{rank[3].rank_name}}:{{rank[3].prize}}/-</i></div>
  <div class="d-flex text-center">
    <div class="col-1" style="font-size: 15px;"></div>
    <div class="col-1" style="font-size: 17px; font-weight: bold" *ngFor="let x of manualResult"><div *ngIf="x.rank_id == 4"><i>{{x.value}}</i></div></div>
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
  </div>

  <div class="text-center p-2" style="font-size: 35px; font-weight: bold"><i>{{rank[4].rank_name}}:{{rank[4].prize}}/-</i></div>
  <div class="d-flex text-center">
    <div class="col-1" style="font-size: 15px;"></div>
    <div class="col-1" style="font-size: 17px; font-weight: bold" *ngFor="let x of manualResult"><div *ngIf="x.rank_id == 5"><i>{{x.value}}</i></div></div>
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
<!--    <div class="col-1" style="font-size: 17px; font-weight: bold">25647</div>-->
  </div>

  <div style="background-color: blue; color: yellow; font-size: 20px; font-weight: bold"><i>{{rank[5].rank_name}}:{{rank[5].prize}}/-</i></div>
<!--  <table class="table table-bordered">-->
<!--    <tbody>-->
<!--&lt;!&ndash;      <tr *ngFor="let item of manualResult">&ndash;&gt;-->
<!--      <tr>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--        <td>20140</td>-->
<!--      </tr>-->
<!--&lt;!&ndash;      <tr *ngFor="let item of manualResult">&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{item.value}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>dfgdfg</td>&ndash;&gt;-->

<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--    </tbody>-->
<!--  </table>-->

    <div class=" fluid-container d-flex flex-col" *ngFor="let item of manualResult.slice(0,manualResult.length % 10 == 0? manualResult.length/10 : ((manualResult.length/10) + 1)) ; let idx = index">
      <div style="border: 1px solid black" *ngFor="let item of manualResult.slice(idx*10, idx*10 + 10)">
        <div class="col" style="min-width: 93px">{{item.value}}</div>
      </div>
<!--      <div class="col p-4">{{item.value}}</div>-->
<!--      <div class="col p-4">{{idx}}</div>-->
    </div>

<!--    <div class="d-flex flex-row mt-2"-->
<!--         *ngFor="let row of manualResult.slice(0, manualResult.length % 10  === 0 ?-->
<!--            manualResult.length / 10 : manualResult.length / 10 + 1); let idx = index">-->
<!--      <div colspan="2" *ngFor="let x of manualResult.slice(idx * 10, idx * 10 + 10)"-->
<!--           class="text-center align-middle mr-3" style="max-width: 100% !important;">-->
<!--        &lt;!&ndash; {{x|json}} &ndash;&gt;-->

<!--        &lt;!&ndash; <pre>{{barcodeDetails.doubleIndividual | json}}</pre> &ndash;&gt;-->

<!--        <div class="col p-4">{{row.value}}</div>-->

<!--&lt;!&ndash;        <button mat-raised-button matBadge="{{x.quantity}}" [matBadgeHidden]="false" value="bold"&ndash;&gt;-->
<!--&lt;!&ndash;                name="fontStyle" aria-label="Font Style"&ndash;&gt;-->
<!--&lt;!&ndash;                style="font-size: larger; min-width: 97% !important; padding: 0px !important; min-height: 40px;">&ndash;&gt;-->
<!--&lt;!&ndash;          {{ x.bahar_number }}&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row" *ngFor="let item of manualResult">-->
<!--      <div class="col">{{item.value}}</div>-->
<!--    </div>-->
<!--      <div class="col">{{item.value}}</div>-->
<!--      <div class="col">{{item.value}}</div>-->
<!--      <div class="col">{{item.value}}</div>-->
<!--    <div class="col">{{item.value}}</div>-->
<!--    <div class="col">sdfsdf</div>-->
<!--    <div class="col">sdfsdf</div>-->

  <div style="border: 2px solid black;">test</div>
</div>


